__pycache__/progress.cpython-311.pyc
__pycache__/diarization.cpython-311.pyc
__pycache__/emotion.cpython-311.pyc
__pycache__/files.cpython-311.pyc
__pycache__/preprocessor.cpython-311.pyc
.DS_Store
*.wav
*.mp4
*.csv
*.txt
